<h1>Escribe tus sumas</h1>
<div class="botones">
<button mat-raised-button color="primary">1</button>
<button mat-raised-button color="primary">2</button>
<button mat-raised-button color="primary">3</button>
</div> 
<div class="botones">
<button mat-raised-button color="primary">1</button>
<button mat-raised-button color="primary">2</button>
<button mat-raised-button color="primary">3</button>
</div>
<div class="botones">
<button mat-raised-button color="primary">1</button>
<button mat-raised-button color="primary">2</button>
<button mat-raised-button color="primary">3</button>
</div>